.signupWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

h2 {
  color: var(--secondary);
}

@media (max-width: 920px) {
  .signupSwitchFormsBtns {
    margin-top: 1.5rem;
  }
}

@media (min-width: 767px) and (max-width: 1024px) and (min-height: 1024px) and (max-height: 1369px) {
  .signupWrapper {
    transform: scale(1.5);
    margin: 4rem auto;
    overflow-y: hidden;
  }
}
