.home {
  display: block;
  margin: 0 auto;
}

.home a {
  text-decoration: none;
}

@media (min-width: 1670px) {
  .home {
    max-width: 80%;
  }
}

@media (min-width: 1360px) {
  .home {
    margin-top: 2rem;
  }
}

@media (min-width: 1365px) and (max-width: 1370px) and (min-height: 1024px) and (max-height: 1030px) {
  .home {
    margin-top: 5rem;
  }
}
